[Unit]
Description=Update Dynamic DNS records
After=network.target

[Service]
Type=oneshot
User=CHANGE_ME
ExecStart=/usr/bin/local/ddns-updater --source-path=/srv/ddns